<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button/>
        </ion-buttons>
        <ion-title class="title">视频采集</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label>案件编号</ion-label>
          <ion-note slot="end" color="primary">{{ item.number }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>车牌号</ion-label>
          <ion-note slot="end" color="primary">{{ item.licensePlate }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>报案时间</ion-label>
          <ion-note slot="end" color="primary">{{ item.createTime }}</ion-note>
        </ion-item>
      </ion-list>
      <div class="icon-btn-capture">
        <ion-icon :icon="camera" color="primary" @click="onTakePhoto"/>
      </div>
      <div class="icon-btn-capture">
        <ion-icon :icon="videocam" color="primary" @click="onVideocam" v-if="!recording"/>
        <ion-icon :icon="videocamOff" color="danger" @click="onVideocam" v-if="recording"/>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title>
          <ion-button expand="block" color="danger" @click="onCaseFinish">
            结束案件
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonContent,
  IonFooter,
  IonToolbar,
  IonButtons,
  IonBackButton,
  IonButton,
  IonTitle,
  IonList,
  IonItem,
  IonLabel,
  IonNote,
  IonIcon,
  alertController,
  toastController,
} from '@ionic/vue'
import { camera, videocam, videocamOff } from 'ionicons/icons'
import { defineComponent, ref, onMounted } from 'vue'
import {useRoute, useRouter} from 'vue-router'
import * as workOrderApi from '@/api/work-order'

export default defineComponent({
  name: 'CaseCapture',
  components: {
    IonPage,
    IonHeader,
    IonContent,
    IonFooter,
    IonToolbar,
    IonButtons,
    IonBackButton,
    IonButton,
    IonTitle,
    IonList,
    IonItem,
    IonLabel,
    IonNote,
    IonIcon,
  },
  setup() {
    const route = useRoute()
    const router = useRouter()
    const id = route.query.id as unknown as number
    const recording = ref(false)
    const item = ref({
      number: '',
      licensePlate: '',
      createTime: '',
      statusValue: 1,
      startRecordTime: '',
    })

    const openToast = async (msg: string): Promise<void> => {
      const toast = await toastController.create({
        message: msg,
        position: 'top',
        color: 'success',
        duration: 2000
      })
      return toast.present()
    }

    const onGetOrder = () => {
      workOrderApi.getOrder(id).then(res => {
        item.value = res
        recording.value = !!res.startRecordTime
      })
    }
    const onTakePhoto = () => {
      workOrderApi.takePhoto(id).then(() => {
        openToast('拍照成功')
      })
    }
    const onVideocam = () => {
      if (recording.value) {
        workOrderApi.recordVideoStop(id).then(() => {
          openToast('停止录像成功')
          onGetOrder()
        })
      } else {
        workOrderApi.recordVideoStart(id).then(() => {
          openToast('开始录像成功')
          onGetOrder()
        })
      }
    }
    const onCaseFinish = async () => {
      const alert = await alertController
        .create({
          cssClass: 'my-custom-class',
          header: '确定',
          message: '确定结束案件？',
          buttons: [
            {
              text: '取消',
              role: 'cancel',
              cssClass: 'secondary',
              handler: blah => {
                console.log('Confirm Cancel:', blah)
              },
            },
            {
              text: '确定',
              handler: () => {
                workOrderApi.workFinish(id).then(() => {
                  console.log('case finished')
                  router.replace('/tabs/tab-case')
                })
              },
            },
          ],
        })
      return alert.present()
    }
    onMounted(
      onGetOrder
    )
    return {
      camera,
      videocam,
      videocamOff,
      recording,
      item,
      onTakePhoto,
      onVideocam,
      onCaseFinish,
    }
  },
})
</script>

<style scoped>
.icon-btn-capture {
  text-align: center;
  margin-top: 20px;
  font-size: 80px;
}
</style>
