<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ title }}</ion-title>
      <ion-buttons slot="end">
        <ion-button @click="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="modalContent">
      <img src="" alt="">
      <div>
        <ul>
          <li>
            <span>案件编号</span>
            <span>{{ time }}</span>
          </li>
          <li>
            <span>车牌号</span>
            <input type="text" v-model="licensePlate" placeholder="请输入车牌号">
          </li>
          <li>
            <span>案件信息</span>
            <input type="text" v-model="content" placeholder="请输入案件信息">
          </li>
        </ul>
      </div>
      <ion-button expand="block" color="success" @click="success()">完成</ion-button>
    </div>
  </ion-content>
</template>

<script lang="ts">
import {IonContent, IonHeader, IonTitle, IonToolbar, modalController, toastController,} from '@ionic/vue';
import {defineComponent, ref} from 'vue';
import {createJob, getUserInfo} from "@/api/file/job";
import {createJobParams} from "@/api/file/model/jobModel";
import moment from 'moment';

export default defineComponent({
  name: 'Modal',
  components: {IonContent, IonHeader, IonTitle, IonToolbar,},
  setup() {
    const content = ref();
    const licensePlate = ref();
    const name = ref();
    const profileId = ref()
    const errorMessage = ref()

    // 年月日，时分
    function getFullTime() {
      const bj = 'BJ'
      return bj + moment().format('YYYYMMDDHHmmss')
    }

    const time = getFullTime()

    function closeModal() {
      modalController.dismiss()
    }

    async function openToast() {
      const toast = await toastController
          .create({
            message: errorMessage.value,
            duration: 2000,
            position: 'top'
          })
      return toast.present();
    }

    function success() {
      const pam: createJobParams = {
        number: time,
        licensePlate: licensePlate.value,
        content: content.value,
        handleUserId: profileId.value
      };

      createJob(pam).then(res => {
        // if(res.)
        console.log('res', res)
        console.log('创建成功')
        modalController.dismiss()
      }).catch(res => {
        console.log('res', res)
        errorMessage.value = res
        openToast()
      })
    }

    getUserInfo().then(res => {
      console.log('res', res)
      profileId.value = res.id
    })


    return {
      closeModal,
      success,
      licensePlate,
      name,
      time,
    }
  }
});
</script>

<style>
.modalContent > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}

.modalContent > div > ul > li {
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #E4E4E4;
}

.modalContent > div > ul > li:last-child {
  border-bottom: none;
}

.modalContent > div > ul > li > span {
  padding-right: 5%;
}

.modalContent > div > ul > li > span.search {
  color: #67B6FF;
  padding-left: 5%;
}

.modalContent > div > ul > li input {
  border: none;
}
</style>
