<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button/>
        </ion-buttons>
        <ion-title class="title">案件详情</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>案件编号</ion-label>
        <ion-note slot="end" color="primary">{{ item.number }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>车牌号</ion-label>
        <ion-note slot="end" color="primary">{{ item.licensePlate }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>报案时间</ion-label>
        <ion-note slot="end" color="primary">{{ item.createTime }}</ion-note>
      </ion-item>
    </ion-list>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar v-if="item.statusValue === 1">
        <ion-title>
          <ion-button expand="block" @click="onCaseStart">
            开始案件
          </ion-button>
        </ion-title>
      </ion-toolbar>
      <ion-toolbar v-if="item.statusValue === 2">
        <ion-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" v-if="!recording" @click="onCapture">
                  开始录制
                </ion-button>
                <ion-button expand="block" v-else @click="onCapture">
                  录制中
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" @click="onCaseFinish">
                  结束案件
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-title>
      </ion-toolbar>
      <ion-toolbar v-if="item.statusValue === 5">
        <ion-title>
          <ion-button expand="block" @click="searchFile(id)">
            查看文件
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import { 
  IonPage,
  IonHeader,
  IonContent,
  IonFooter,
  IonButton,
  IonButtons,
  IonBackButton,
  IonTitle,
  IonToolbar,
  IonList,
  IonItem,
  IonLabel,
  IonNote,
  IonGrid,
  IonRow,
  IonCol,
  alertController,
  onIonViewWillEnter
} from '@ionic/vue'
import { 
  ellipsisHorizontal,
  ellipsisVertical, 
  helpCircle, 
  personCircle, 
  search, 
  star,
} from 'ionicons/icons'
import { defineComponent, ref } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import * as workOrderApi from '@/api/work-order'

export default defineComponent({
  components: {
    IonPage,
    IonHeader,
    IonContent,
    IonFooter,
    IonButtons,
    IonBackButton,
    IonButton,
    IonTitle,
    IonToolbar,
    IonList,
    IonItem,
    IonLabel,
    IonNote,
    IonGrid,
    IonRow,
    IonCol
  },
  setup() {
    const router = useRouter()
    const route = useRoute()
    const id = route.query.id as unknown as number
    const item = ref({
      number: '',
      licensePlate: '',
      createTime: '',
      statusValue: 1,

    })
    const recording = ref(false)
    const onGetOrder = () => {
      workOrderApi.getOrder(id).then(res => {
        item.value = res
      })
    }
    const onCapture = async () => {
      router.push(`/case-capture?id=${id}`)
    }
    const onCaseStart = async () => {
      const alert = await alertController
        .create({
          cssClass: 'my-custom-class',
          header: '确定',
          message: '确定开始案件？',
          buttons: [
            {
              text: '取消',
              role: 'cancel',
              cssClass: 'secondary',
              handler: blah => {
                console.log('Confirm Cancel:', blah)
              },
            },
            {
              text: '确定',
              handler: () => {
                workOrderApi.workStart(id).then(() => {
                  router.push(`/case-capture?id=${id}`)
                })
              },
            },
          ],
        })
      return alert.present()
    }
    const onCaseFinish = async () => {
      const alert = await alertController
        .create({
          cssClass: 'my-custom-class',
          header: '确定',
          message: '确定结束案件？',
          buttons: [
            {
              text: '取消',
              role: 'cancel',
              cssClass: 'secondary',
              handler: blah => {
                console.log('Confirm Cancel:', blah)
              },
            },
            {
              text: '确定',
              handler: () => {
                workOrderApi.workFinish(id).then(() => {
                  console.log('case finished')
                  router.replace('/tabs/tab-case')
                })
              },
            },
          ],
        })
      return alert.present()
    }
    onIonViewWillEnter(() => {
      onGetOrder()
      console.log('Home page will enter case page');
    });
    function searchFile(id: number){
      console.log('id', id)
      router.push('/tabs/fileList/' + id)
    }

    return {
      ellipsisHorizontal,
      ellipsisVertical, 
      helpCircle, 
      personCircle, 
      search, 
      star,
      searchFile,
      id,
      item,
      recording,
      onCapture,
      onCaseStart,
      onCaseFinish,
    }
  }
});
</script>

<style scoped>
.title {
  text-align: center;
}
</style>
