<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ title }}</ion-title>
      <ion-buttons slot="end">
        <ion-button @click="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="modalContent">
      <img src="" alt="">
      <div>
        <ul>
          <li>
            <span>案件编号</span>
            <input type="text" v-model="orderNumber" placeholder="请输入案件编号">
            <span class="search" @click="searchWorkOrder()">查询</span>
          </li>
          <li>
            <span>车牌号</span>
            <span>{{ licensePlate }}</span>
          </li>
          <li>
            <span>案件信息</span>
            <span>{{ name }}</span>
          </li>
        </ul>
      </div>
      <ion-button expand="block" color="success" @click="success()">完成</ion-button>
    </div>
  </ion-content>
</template>

<script lang="ts">
import {IonContent, IonHeader, IonTitle, IonToolbar, IonButtons, IonButton, modalController} from '@ionic/vue';
import {defineComponent, onMounted, ref} from 'vue';
import {getOrderByNumber} from "@/api/work-order";
import {fileLinkOrder} from "@/api/file/file";
import {FileLinkOrderParams} from "@/api/file/model/fileModel";

export default defineComponent({
  name: 'Modal',
  props: {
    title: {type: String, default: '关联案件'},
    close: {type: Function},
    ids: {type: Array}
  },
  components: {IonContent, IonHeader, IonTitle, IonToolbar, IonButtons, IonButton},
  setup(props) {
    const orderNumber = ref();
    const licensePlate = ref();
    const name = ref();
    const orderId = ref();

    function closeModal() {
      modalController.dismiss()
    }
    function searchWorkOrder() {
      getOrderByNumber(orderNumber.value).then(res => {
        licensePlate.value = res.licensePlate
        name.value = res.name
        orderId.value = res.id
      })
    }
    function success() {
      const {ids} = props
      const pam: FileLinkOrderParams = {
        workOrderId: orderId.value,
        fileIds: ids,
      };
      fileLinkOrder(pam).then(res => {
        console.log('res',res)
        console.log('关联成功')
        modalController.dismiss()
      })
    }

    return {
      orderNumber,
      closeModal,
      searchWorkOrder,
      success,
      licensePlate,
      name,
    }
  }
});
</script>

<style>
.modalContent > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}

.modalContent > div > ul > li {
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #E4E4E4;
}

.modalContent > div > ul > li:last-child {
  border-bottom: none;
}

.modalContent > div > ul > li > span {
  padding-right: 5%;
}

.modalContent > div > ul > li > span.search {
  color: #67B6FF;
  padding-left: 5%;
}

.modalContent > div > ul > li input {
  border: none;
}
</style>
