<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button/>
        </ion-buttons>
        <ion-title class="title">文件详情</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-list>
        <ion-item v-for="entry in fileList" :key="entry.val">
          <ion-label>
            <div class="fileName">
              <span>文件名称</span>
              <span> {{ entry.fileName }} </span>
            </div>
            <div class="shootingTime">
              <span>拍摄时间</span>
              <span>{{ entry.recordStartTime }}</span>
            </div>
            <div class="fileType">
              <span>文件类型</span>
              <span>{{ entry.fileFormatLabel }}</span>
            </div>
            <div class="fileSize">
              <span>文件大小</span>
              <span>{{ entry.fileSizeFormat }}</span>
            </div>
          </ion-label>
          <ion-checkbox slot="end"
                        @update:modelValue="entry.isChecked = $event"
                        :modelValue="entry.isChecked">
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-title>
          <ion-button expand="block" @click="openModal">关联案件</ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {onMounted, ref} from 'vue';
import {
  IonBackButton,
  IonButton,
  IonButtons,
  IonCheckbox,
  IonHeader,
  IonContent,
  IonFooter,
  IonItem,
  IonLabel,
  IonList,
  IonPage,
  IonTitle,
  IonToolbar,
  modalController
} from '@ionic/vue';
import Modal from './FileModal.vue'
import {useRoute} from "vue-router";
import {getFilePageList} from "@/api/file/file"
import {FilePageListParams} from "@/api/file/model/fileModel"

export default {
  name: 'TabFile',
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonFooter,
    IonCheckbox,
    IonItem,
    IonLabel,
    IonList,
    IonButton,
    IonPage,
    IonButtons,
    IonBackButton,
  },
  setup: function () {
    const route = useRoute()
    const fileList = ref()
    function fileDetail() {
      console.log('route', route.params.id)
      const workOrderId = route.params.id
      console.log('workOrderId', workOrderId)
      const pam: FilePageListParams = {
        workOrderId: workOrderId + '',
        pageNo: 1,
        pageSize: 14,
      };
      getFilePageList(pam).then(res => {
        fileList.value = res.records
      })
    }

    async function openModal() {
      const selectFileIds: number[] = [];
      let isSelected = false;
      for (const item of fileList.value) {
        if (item.isChecked == true) {
          selectFileIds.push(item.id);
          isSelected = true;
        }
      }
      console.log('selectFiles', selectFileIds)
      const modal = await modalController
          .create({
            component: Modal,
            cssClass: 'my-custom-class',
            componentProps: {
              title: '关联案件',
              ids: selectFileIds
            },
          })
      modal.onDidDismiss().then(() => {
        console.log('关闭')
        fileDetail()
      })
      return modal.present();
    }

    onMounted(
        fileDetail
    )
    return {
      fileList,
      openModal,
    }
  }
}
</script>

<style>
.title {
  text-align: center;
}

.fileName > span:first-child, .shootingTime > span:first-child, .fileType > span:first-child, .fileSize > span:first-child {
  padding-right: 5%;
}
</style>
