<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <div class="login-wrap">
        <div class="logo-wrap">
          <img src="assets/logo.png" alt="" class="logo">
        </div>
        <div class="login-form">
          <ion-item>
            <ion-label class="login-label">用户名</ion-label>
            <ion-input v-model="loginForm.username"/>
          </ion-item>
          <ion-item>
            <ion-label class="login-label">密码</ion-label>
            <ion-input type="password" v-model="loginForm.password"/>
          </ion-item>
          <ion-button expand="block" class="btn-login" @click="login">
            登录
          </ion-button>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonItem,
  IonLabel,
  IonInput,
  IonButton,
  toastController
} from '@ionic/vue'
import { defineComponent, reactive } from 'vue'
import { useRouter } from 'vue-router'
import * as securityApi from '../api/security'

export default defineComponent({
  name: 'Login',
  components: {
    IonContent,
    IonPage,
    IonItem,
    IonLabel,
    IonInput,
    IonButton
  },
  setup() {
    const router = useRouter()
    const loginForm = reactive({
      username: '',
      password: ''
    })
    const openToast = async (msg: string): Promise<void> => {
      const toast = await toastController.create({
        message: msg,
        position: 'top',
        color: 'danger',
        duration: 2000
      })
      return toast.present()
    }
    const login = () => {
      if (loginForm.username === '') {
        openToast('请填写用户名')
        return
      }
      if (loginForm.password === '') {
        openToast('请填写密码')
        return
      }
      securityApi.login(loginForm).then(res => {
        console.log('res',res)
        if (res.code !== 0) {
          openToast(res.message)
        } else {
          localStorage.setItem('access-token', res.token)
          router.replace('/tabs/tab-case')
        }
      })
    }
    return {
      login,
      openToast,
      loginForm
    }
  }
})
</script>

<style>
.login-wrap {
  width: 75%;
  margin: 0 auto;
}
.logo-wrap {
  width: 100%;
  margin-top: 80px;
  text-align: center;
}
.logo {
  width: 90%;
}
.login-form {
  margin-top: 20px;
}
.login-label {
  width: 50px;
}
.btn-login {
  margin-top: 20px;
}
</style>
