<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title class="title">案件管理</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
     <ion-refresher ref="refresherDom" slot="fixed" pulling-text="下拉刷新"  @ionRefresh="onRefresher($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="加载中..."
            refreshingSpinner="circles"
            refreshingText="加载中...">
        </ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item v-for="item in items" :key="item.id" @click="onItemClick(item.id)" style="position: relative">
          <div class="item-main">
            <div class="item-main-row">
              <div class="item-main-icon">
                <ion-icon :icon="pricetag" color="primary"/>
              </div>
              <div class="item-main-content">
                <ion-label>{{ item.number }}</ion-label>
              </div>
            </div>
            <div class="item-main-row">
              <div class="item-main-icon">
                <ion-icon :icon="car" color="primary"/>
              </div>
              <div class="item-main-content">
                <ion-label>{{ item.licensePlate }}</ion-label>
              </div>
            </div>
            <div class="item-main-row">
              <div class="item-main-icon">
                <ion-icon :icon="time" color="primary"/>
              </div>
              <div class="item-main-content">
                <ion-label>{{ item.createTime }}</ion-label>
              </div>
            </div>
            <div class="unread"></div>
          </div>
          <ion-label slot="end" class="item-end" color="danger" v-if="item.statusValue === 1">{{ item.statusLabel }}</ion-label>
          <ion-label slot="end" class="item-end" color="warning" v-else-if="item.statusValue === 2">{{ item.statusLabel }}</ion-label>
          <ion-label slot="end" class="item-end" color="primary" v-else-if="item.statusValue === 3">{{ item.statusLabel }}</ion-label>
          <ion-label slot="end" class="item-end" v-else>{{ item.statusLabel }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll
        @ionInfinite="onLoadMore($event)"
        threshold="100px" 
        id="infinite-scroll"
        :disabled="loadMoreDisable"
      >
        <ion-infinite-scroll-content
          loading-spinner="bubbles"
          loading-text="加载更多...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-content>
    <div class="emergencyCase" @click="openModal">
      <img src="../assets/emergency.png" alt="">
      <span>紧急案件</span>
    </div>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonList,
  IonItem,
  IonIcon,
  IonLabel,
  IonRefresher,
  IonRefresherContent,
  IonInfiniteScroll,
  IonInfiniteScrollContent, modalController,
  onIonViewWillEnter
} from '@ionic/vue'
import { pricetag, car, time } from 'ionicons/icons'
import { defineComponent, ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import { WorkOrder } from '@/types/work-order'
import * as workOrderApi from '@/api/work-order'
import Modal from './CaseModal.vue'

export default defineComponent({
  name: 'TabCase',
  components: {
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonPage,
    IonList,
    IonItem,
    IonIcon,
    IonLabel,
    IonRefresher,
    IonRefresherContent,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
  },
  setup() {
    const router = useRouter()
    const items = ref(Array<WorkOrder>())
    const loadMoreDisable = ref(false)
    const page = { pageNo: 1, pageSize: 10, total: 0, hasNext: true }
    const onGetWorkOrders = (refresh: boolean) => {
      return workOrderApi.getOrders(page.pageNo, page.pageSize).then(res => {
        page.total = res.total
        page.hasNext = page.pageNo * page.pageSize < page.total
        loadMoreDisable.value = !page.hasNext
        if (refresh) {
          items.value = []
        }
        res.records.forEach(item => {
          items.value.push(item)
        })
      })
    }
    const onRefresher = (event: any) => {
      page.pageNo = 1
      onGetWorkOrders(true).then(() => {
        console.log('Async operation has ended')
        event.target.complete()
      })
    }
    const onLoadMore = async (event: any) => {
      page.pageNo += 1
      await onGetWorkOrders(false)
      event.target.complete()
    }
    const onItemClick = (id: number): void => {
      router.push(`/case?id=${id}`);
    }
    //点击紧急按钮
    async  function openModal(){
      console.log('点击紧急按钮')
      const modal = await modalController
          .create({
            component: Modal,
            cssClass: 'my-custom-class',
            componentProps: {
              title: '关联案件',
            },
          })
      modal.onDidDismiss().then(() => {
        onGetWorkOrders(true)
        console.log('关闭')
      })
      return modal.present();
    }
    /**
     * 生命周期 https://ionicframework.com/jp/docs/zh/vue/lifecycle#guidance-for-each-lifecycle-method
     */
    onIonViewWillEnter(() => {
      onGetWorkOrders(true)
      console.log('Home page will enter');
    });
    return {
      pricetag,
      car,
      time,
      page,
      loadMoreDisable,
      onRefresher,
      onLoadMore,
      items,
      onItemClick,
      openModal
    }
  }
})
</script>

<style>
.title {
  text-align: center;
}
.item-main {
  width: 100%;
  padding: 10px 0;
}
.item-main-row {
  display: flex;
  padding: 4px;
  font-size: 16px;
}
.item-main-icon {
  width: 28px;
  padding-top: 2px;
}
.item-main-content {
  flex: 1;
}
.item-end {
  font-size: 14px;
}
.emergencyCase{
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: #1890FF;
  bottom: 10%;
  z-index: 999999;
  right: 3%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emergencyCase>span{
  color: white;
  font-size: 12px;
}
.unread{
  width: 4.2%;
  height: 13%;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 23%;
  right: 3%;
}
</style>
