<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title class="title">文件管理</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-refresher ref="refresherDom" slot="fixed" pulling-text="下拉刷新" @ionRefresh="onRefresher($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="加载中..."
            refreshingSpinner="circles"
            refreshingText="加载中...">
        </ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item v-for="entry in items" :key="entry.val">
          <ion-avatar slot="start">
            <img src="../assets/file.png">
          </ion-avatar>
          <ion-label class="fileContent" @click="fileDetail(entry.id)">
            <div class="fileName">
              <span>案件编号</span>
              <span> {{ entry.number }} </span>
            </div>
            <div class="shootingTime">
              <span>车牌号</span>
              <span>{{ entry.licensePlate }}</span>
            </div>
            <div class="fileType">
              <span>出险时间</span>
              <span>{{ entry.startTime }}</span>
            </div>
            <div class="fileSize">
              <span>文件数量</span>
              <span>{{ entry.mediaFileCount }}</span>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll
          @ionInfinite="onLoadMore($event)"
          threshold="100px"
          id="infinite-scroll"
          :disabled="loadMoreDisable"
      >
        <ion-infinite-scroll-content
            loading-spinner="bubbles"
            loading-text="加载更多...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonAvatar,
  IonContent,
  IonRefresher,
  IonRefresherContent,
  IonItem,
  IonLabel,
  IonList,
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonInfiniteScroll,
  IonInfiniteScrollContent,
} from '@ionic/vue'
import { defineComponent, ref } from "vue"
import {useRouter} from "vue-router"
import * as workOrderApi from '@/api/work-order'
import {WorkOrder} from "@/types/work-order";

export default defineComponent({
  name: 'Tab1',
  components: {
    IonContent,
    IonPage,
    IonList,
    IonLabel,
    IonItem,
    IonAvatar,
    IonRefresher,
    IonRefresherContent,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonInfiniteScroll,
    IonInfiniteScrollContent,
  },

  setup() {
    const workList = ref()
    const refresherDom = ref()
    const router = useRouter()
    const loadMoreDisable = ref(false)
    const items = ref(Array<WorkOrder>())
    const page = {pageNo: 1, pageSize: 10, total: 0, hasNext: true}
    const onGetWorkOrders = (refresh: boolean) => {
      return workOrderApi.getOrders(page.pageNo, page.pageSize).then(res => {
        page.total = res.total
        page.hasNext = page.pageNo * page.pageSize < page.total
        loadMoreDisable.value = !page.hasNext
        if (refresh) {
          items.value = []
        }
        res.records.forEach(item => {
          items.value.push(item)
        })
      })
    }


    function fileDetail(id: number) {
      console.log('id', id)
      router.push('/tabs/fileList/' + id)
    }

    const onRefresher = (event: any) => {
      page.pageNo = 1
      onGetWorkOrders(true).then(() => {
        console.log('Async operation has ended')
        event.target.complete()
      })

    }
    //上拉加载
    const onLoadMore = async (event: any) => {
      page.pageNo += 1
      await onGetWorkOrders(false)
      event.target.complete()
    }
    onGetWorkOrders(true)
    return {
      workList,
      fileDetail,
      refresherDom,
      onRefresher,
      onLoadMore,
      loadMoreDisable,
      items,
    }
  }
})
</script>

<style>
.fileContent > div > span:first-child {
  padding-right: 6%;
}

</style>