<template>
  <ion-page>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tabCase" href="/tabs/tab-case" style="position: relative">
          <div class="unread-count">
            <span style="color: white;">1</span>
          </div>
          <ion-icon :icon="bulb" />
          <ion-label>案件管理</ion-label>
        </ion-tab-button>
          
        <ion-tab-button tab="tabFile" href="/tabs/tab-file">
          <ion-icon :icon="documents" />
          <ion-label>文件管理</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="tabVideo" href="/tabs/tab-video">
          <ion-icon :icon="videocam" />
          <ion-label>视频互动</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tabSetting" href="/tabs/tab-setting">
          <ion-icon :icon="settings" />
          <ion-label>系统设置</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script lang="ts">
import { IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage, IonRouterOutlet } from '@ionic/vue';
import { bulb, documents, videocam, settings } from 'ionicons/icons';

export default {
  name: 'Tabs',
  components: { IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage, IonRouterOutlet },
  setup() {
    return {
      bulb, 
      documents,
      videocam,
      settings
    }
  }
}
</script>

<style>
.unread-count{
  position: absolute;
  width: 20%;
  height: 35%;
  border-radius: 50%;
  background-color: red;
  top: -1%;
  right: 30%;
  z-index: 9999;
}
</style>