<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title class="title">系统设置</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-list>
        <ion-item detail>
          <ion-label>
            文件存储
          </ion-label>
        </ion-item>

        <ion-item button detail>
          <ion-label>
            切换账号
          </ion-label>
        </ion-item>

        <ion-item detail>
          <ion-label>
            网络设置
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage, IonHeader, IonToolbar, IonTitle, IonContent,
  IonList, IonItem, IonLabel,
} from '@ionic/vue'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TabSetting',
  components: {
    IonPage, IonHeader, IonToolbar, IonTitle, IonContent,
    IonList, IonItem, IonLabel,
  },
  setup() {
    return {
    }
  }
})
</script>

<style>
.title {
  text-align: center;
}
</style>
